.avatar{
    background: #f7f7f7;

}

.vertical-center{
    display: flex;
    align-items: center;
    justify-content: center;

}

ion-item{
    --detail-icon-color: #429EA6;
    --detail-icon-font-size: 30px;
    --detail-icon-opacity: 100%
}
