/* General CSS Setup */

/* CSS talk bubble */
.talk-bubble {
    margin-left: 20px;
    display: inline-block;
    position: relative;
    width: 200px;
    border-radius: 5px;
    height: auto;
    background-color:  rgba(223, 223, 223, 0.98)
}


.talk-bubble-right {

    display: inline-block;
    position: relative;
    width: 200px;
    border-radius: 5px;
    height: auto;
    background-color: #DCF8C6;
}

.round{
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;

}

/* Right triangle placed top left flush. */
.tri-right.border.left-top:before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: -40px;
    right: auto;
    top: -8px;
    bottom: auto;
    border: 32px solid;
    border-color:  transparent transparent transparent;
}
.tri-right.left-top:after{
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: -20px;
    right: auto;
    top: 0px;
    bottom: auto;
    border: 22px solid;
    border-color: rgba(223, 223, 223, 0.98) transparent transparent transparent;
}

/*Right triangle, placed bottom right side slightly in*/
.tri-right.border.btm-right:before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: auto;
    right: -8px;
    bottom: -40px;
    border: 20px solid;
    border-color: #DCF8C6 #DCF8C6 transparent transparent;
}
.tri-right.btm-right:after{
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: auto;
    right: 0px;
    bottom: -20px;
    border: 12px solid;
    border-color: #DCF8C6 #DCF8C6 transparent transparent;
}



/* talk bubble contents */
.talktext{
    padding: 10px;
    text-align: left;
    line-height: 1.5em;
}

.right-bubble{

   margin-left: 120px;
}
.left-bubble{
    background-color: #DCF8C6;
    margin-top: 10px;
}

.right-b{
    margin-bottom: 25px;
}

.p{
    white-space: normal;
}
.no-pad{
    margin-left: -15px;
}
