
.next{
    --background: linear-gradient(165deg, rgba(21,59,80,1) 37%, rgba(66,158,166,1) 100%);

    bottom: 50px;
}

.ion-item{
    border-right: black 1px solid;
    --background: rgba(247,247, 247, 247);
}
