.image-upload{

}

.image{

}


.filetype{
    display: none;
}
#filerobot-image-editor-root .fgCecj {

    display: none !important;
}

#filerobot-image-editor-root .kZoTUo {
    display: none !important;
}
