.logo{
    height: 50pt;
}

.logodiv{
    margin-top: 23px;
}
.toolbar{
    height: 80px;
    --background: #f4f4f4
}

.facebook{
    --background: rgba(88, 144, 255, 1)
}

.apple{
    --background: rgb(0, 0, 0)

}

ion-segment {
    --background: #f4f4f4
}

ion-button{
    margin-top: 15px;
}

.google{
    --background: rgba(86, 134, 233, 1)

}
