.icon-large{
 font-size: xx-large;
}

.ion-item{
    --detail-icon-color: #429EA6;
    --detail-icon-font-size: 30px;
    --detail-icon-opacity: 100%
}

.title{
    font-size: medium;
    color: gray;
}

.slides{
    --bullet-background-active: white;
    --bullet-background: rgba(248, 248, 248, 0.76);
    --progress-bar-background: rgb(0, 0, 0)
}

.bg{
    background: #429EA6;
}

.pic{
    height:50px;
}

.ion-slides{
    height: 200px;
}
