.PhoneInputInput {
    background: none;
    border: none;
    padding-bottom: 10px;
}
.PhoneInput {
    background: rgba(244, 244, 244,244);
    padding: 4px;
    width:100%;
}


.action .action-sheet-group {
    --button-color: rgb(17, 57, 132);
}


* {
    box-sizing: border-box;
}




