.slides {
    height: 100%;
}


.slide1 {
    background-size: cover;
    width: 100vw;
    height: 100vh;
    background: url("/assets/img/slides/landlordslide1.png") no-repeat center, center;
}
.slide2 {
    background-size: cover;
    width: 100vw;
    height: 100vh;
    background: url("/assets/img/slides/landlordslide2.png") no-repeat center, center;
}
.slide3 {
    background-size: cover;
    width: 100vw;
    height: 100vh;
    background: url("/assets/img/slides/landlordslide3.png") no-repeat center, center;
}
.slidet1 {
    background-size: cover;
    width: 100vw;
    height: 100vh;
    background: url("/assets/img/slides/tenantslide1.png") no-repeat center, center;
}
.slidet2 {
    background-size: cover;
    width: 100vw;
    height: 100vh;
    background: url("/assets/img/slides/tenantslide2.png") no-repeat center, center;
}
.slidet3 {
    background-size: cover;
    width: 100vw;
    height: 100vh;
    background: url("/assets/img/slides/tenantslide3.png") no-repeat center, center;
}
.bt{
    position: absolute;
    z-index: 0;
    bottom: 30%;
    right: 40%;

}
